label, input, select {
    display: block;
}

li {
    list-style: none;
}

button {
    margin-top: 1vh;
}

.calculator {
    width: 30vw;
    background-color: palevioletred;
    padding: 5vb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product_calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.service_calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.radio_choice {
    display: inline;
}

.service_choice {
    display: flex;
    gap: 5vw;
    list-style: none;
    justify-content: space-around;
}
